.row.text-center
  .col-md-12
    h2 Our Amazing App
      
.row.text-center.padding-20-0
  .col-md-4
    img.iplayer-logo(src='/images/iPlayer.png',style="width:60px;height:60px")
    h3 iPlayer
  .col-md-4
    img.iplayer-logo(src='/images/iCreator.png',style="width:60px;height:60px")
    h3 iCreator
  .col-md-4
    img.iplayer-logo(src='/images/iDownloader.png',style="width:60px;height:60px")
    h3 iDownloader
    
.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Get it now
