.row.text-center
  .col-md-12
    h2 Our Amazing App
      
.row.text-center.padding-20-0
  .col-md-12
    img.iplayer-logo(src='/images/iPlayer.png')
    h3 iPlayer
    
.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Get it now
